<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <meta name="author" content="Your Name">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Your Page Description">
    <meta name="keywords" content="flask,python,template">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>